<%= form_for [@user, @project] do |f| %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label :date %><br>
        <%= f.date_field :date %>
    </div>
    <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location %>
    </div>
    <div class="field">
        <%= f.label :time %><br>
        <%= f.time_field :time %>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :project_id, :value => params[:project_id]%>
    <%= f.submit "Submit", class:"submit" %>
<% end %>

<% if @project.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <p> Error: </p>
        <ul>
         <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        </ul>
         </div>
    <% end %>
<% end %>