<h1>All Projects</h1>
<% @projects.each do |project| %>
<h2>Project Name: <%= link_to project.name, project_path(project), class:'name' %></h2>
<h3>Project Location: <%= link_to project.location, project_path(project), class:'location' %></h3><br>
<% end %>


<%= link_to "Add Project", new_project_path(@project)%>
<%# <%= link_to "Edit Project", edit_project_path(@project)%> 

<%= link_to "Projects This Year", projects_this_year_path %>




