<h1><%= @role.user.name %>'s Volunteer Roles</h1>
<h2> Role Name: <%= @role.name %></h5><br>

    <% @role.tasks.each do |task|%></>
    <h3> <%= link_to task.name, task_path(task) %></h3>
    <% end %>

    <h4 id="role-links"><% if current_user.roles.include?(@role) %>
        <%= link_to "Edit Role", edit_role_path(@role), class: "edit-link" %><br></br>
        <%= link_to "Add new tasks", new_role_task_path(@role) %><br></br>
        <%= link_to "Delete Role", role_path(@role), :confirm => "Are you sure?", :method => :delete, class: "delete-link"%>
    <% end %></h4>