<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <% if current_user %>
     <% if logged_in? %>
      <li><%= link_to "Welcome, #{current_user.name}!", user_path(current_user) %></li>
      <li><%= link_to "Projects", projects_path%> </li>
      <li><%= link_to "Roles", roles_path%> </li>
      <li><%= link_to "Log Out", logout_path%></li>
      <% else %>
      <li><%= link_to "Sign Up", signup_path%></li>
      <li><%= link_to "Log In", login_path%></li>
      <li><%= link_to "Log Out", logout_path%></li>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
        <% end %>

    <% if flash[:msg] %>
      <div class="alert alert-success" role="alert"><%= flash[:msg] %></div>
        <% end %>
    <%= yield %>
  </body>
</html>
